*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("https://hexschool.github.io/js-filter/assets/bg.jpg");
  .content {
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
  }
  .list {
    width: 80vw;
    border: 3px solid #899e39;
    background-color: #fff;
    margin-top: 1rem;
    .btn {
      display: flex;
      justify-content: center;
      padding: 0.5rem 3rem;
      margin: 0.3rem;
      flex-wrap: wrap;
    }
    .input {
      display: flex;
      margin-bottom: 1rem;
      margin-left: 2rem;
      flex-wrap: wrap;
      label {
        border-radius: 15% 0% 0% 15%;
        background-color: #899e39;
        padding-top: 0.7rem;
        padding-right: 1rem;
        padding-left: 0.3rem;
      }
      input {
        border: 2px solid #899e39;
        border-radius: 0% 10% 10% 0%;
        width: 25vw;
      }
    }
  }
}
table {
  margin: 2rem;
  line-height: 3rem;
  width: 70vw;
}
th {
  background-color: #bda98e;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.select {
  display: flex;
  justify-content: end;
  padding: 1rem;
}
@import "~bootstrap/scss/bootstrap";
